<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wevivu</title>
  <!-- Favicons -->
  <link rel="icon" href="/images/footer-logo.png">
  <link rel="apple-touch-icon" href="http://multifour.com/projects/select/demo/restaurant/images/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="http://multifour.com/projects/select/demo/restaurant/images/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="http://multifour.com/projects/select/demo/restaurant/images/favicons/apple-touch-icon-114x114.png">
  <!--headerIncludes-->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDCEZ8DButde0dy2DrGsVVoeOSlT3vA7P0&extension=.js&libraries=places"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% if logged_in? %>
      <meta userid="<%= current_user.id %>">
  <% end %>
</head>
<body ng-app="wevivu" <%= raw !logged_in? ? 'ng-controller="LoginController"' : '' %> >

<%= render 'layouts/navbar' %>
<% if logged_in? %>
    <div class="app">
      <%= render 'layouts/view' %>
    </div>

<% else %>
    <div class="main">
      <%= yield %>
    </div>
<% end %>

<%= render 'layouts/footer' %>

<% if logged_in? %>
    <script src="/js/app.js"></script>
    <script src="/js/services/dataTransferFactory.js"></script>
    <script src="/js/controllers/homeController.js"></script>
    <script src="/js/controllers/wallController.js"></script>
    <script src="/js/controllers/newPostController.js"></script>
    <script src="/js/controllers/profileController.js"></script>
    <script src="/js/directives/inputComment.js"></script>
<% else %>
    <script src="/js/controllers/loginController.js"></script>
<% end %>
</body>
</html>
